<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message</title>
    <style>
        p {
            font-family: Verdana, Arial, Helvetica, sans-serif; 
            font-size: 14pt;    
        }
    </style>
</head>

<body>
    <p>Message from user: <b>{{user}}</b></p>
    <p>User сontent: <b>{{content}}</b></p>
    
    <form action="/index.php?controller=message" method="post">
        <p>Change content: <input type="text" name="content" />
        <input type="submit" value="Change" /></p>
    </form>

    <p><a href="/">Home...</a></p>
</body>

</html>
