<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change password</title>
    <style>
        p {
            font-family: Verdana, Arial, Helvetica, sans-serif; 
            font-size: 14pt;    
        }
    </style>
</head>

<body>
    <p>Message from user: <b>{{user}}</b></p>
    <p>User md5-password: <b>{{content}}</b></p>

    <form action="/index.php?controller=password" method="post">
        <p>Input NEW Password: <input type="password" name="password">
        <input type="submit" value="Enter"></p>
    </form>

    <p><a href="/">Home...</a></p>
</body>

</html>
