<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome, {{username}}!</title>
    <style>
        p {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 14pt;
        }
    </style>
</head>

<body>
    <p>Welcome, <b>{{username}}!</b></p>
    <p><a href="/index.php?controller=message">Create message...</a></p>
    <p><a href="/index.php?controller=password">Change password...</a></p>
    <p><a href="/index.php?controller=logout">Logout...</a></p>
</body>

</html>
